<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>

<div class="login-container">
    <div class="login-card">
        <h1>Welcome, Admin, <span th:if="${username}" th:text="${username}"></span></h1>

        <div class="main-buttons">
            <a href="/admin/shipments-list" class="main-btn track-btn">
            <div>📊 Statistics</div>
                <div class="btn-subtitle">view courier stats</div>
            </a>
        </div>

        <div class="footer">
            <h4>Admin Panel <a href="/logout"> Log out </a></h4>
        </div>
    </div>
</div>

</body>
</html>
