<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shipping Price Calculator</title>
    <link rel="stylesheet" th:href="@{/css/confirm.css}">
</head>
<body>

<div class="login-container">
    <div class="login-card">
        <h2>Shipment confirmed successfully!</h2>


        <div th:if="${success}" class="logout-msg" th:text="${success}"
             style="margin-top:20px; background-color:#e6f4ff; color:#00509e; border:1px solid #00509e;"></div>
        <div class="footer">

            <a href="/login">Back</a>
        </div>
    </div>
</div>
</div>

</body>
</html>
