<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" th:href="@{/css/contact.css}">
</head>
<body>

<div class="login-container">
    <div class="login-card">
        <h2>Contact Us</h2>
        <p>Have a question or issue? Send a message to our support team.</p>

        <form th:action="@{/contact}" method="post">
            <div class="form-group">
                <label>Your Name</label>
                <input type="text" name="name" placeholder="Iliyan Hristov" required>
            </div>

            <div class="form-group">
                <label>Your Email</label>
                <input type="email" name="email" placeholder="your@email.com" required>
            </div>

            <div class="form-group">
                <label>Subject</label>
                <input type="text" name="subject" placeholder="Text" required>
            </div>

            <div class="form-group">
                <label>Message</label>
                <textarea name="message" placeholder="Type your message..." rows="5" required></textarea>
            </div>

            <button type="submit" class="login-btn">Send Message</button>
        </form>

        <div th:if="${success}" class="logout-msg" th:text="${success}" style="margin-top:15px;"></div>
        <div th:if="${error}" class="error" th:text="${error}" style="margin-top:15px;"></div>

        <div class="footer">
            <a href="/login">Back</a>
        </div>
    </div>
</div>

</body>
</html>
